# General files
.git
.github
config
docs

# Development
.devcontainer
.vscode
.tool-versions

# Test related files
tests

# Other virtualization methods
venv
.vagrant

# Temporary files
**/__pycache__


.idea
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.tox
build/
dist/
*.egg-info/
.DS_Store
Thumbs.db